###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###


\.idea/

tests/\.DS_Store

public/images/\.DS_Store

templates/\.DS_Store

tests/test-coverage/\.DS_Store

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
