###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

\.DS_Store

\.idea/

tests/\.DS_Store

public/images/\.DS_Store

templates/\.DS_Store

public/test-coverage

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

public/\.DS_Store