.col-lg-4
{
 margin-bottom:20px;
}

.fa-arrow-left, .fa-arrow-right
{
 color: black;
 font-size: 20px;
}

.fa-trash-alt
{
 color: darkred;
}

.fa-pencil-alt
{
 color: white;
}

.portfolio-item-category a
{
 color: whitesmoke;
}


.links {
 display: flex;
 background-color: #000;
 border-radius: 5px;
}

.link {
 flex: 40px;
 display: block;
 text-decoration: none;
 text-align: center;
 color: #fff;
 font-size: 1.25em;
 border-right: 1px solid #fff;
 transition: all 200ms linear;
}

.link:first-child {
 border-radius: 5px 0 0 5px;
}

.link:last-child {
 border-right: none;
 border-radius: 0 5px 5px 0;
}

.link:hover {
 background-color: #FFFFFF;
 color: black;
 font-weight: bold;
}
