.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.img-fluid{
    height: 337px;
    width: 600px;
}

.fa-trash-alt{
    color: red;
}

.fa-pencil-alt{
    color: white;
}

.card{
    background-color: #222831;
    color: white;
}

.btn-primary{
    background-color: white !important;
    border-style: none;
    color: black !important;
}


.page-footer{
    background-color: #393E46 !important;
    margin-top: 50px;
    padding: 50px;
}

body{
    background-color: #F6F6F6;
}

.navbar{
    background-color: #393E46;
    padding-bottom: 30px;
}

.navbar-brand{
    color: white !important;
}

.waves-light{
    color: white !important;
}

.img-responsive{
    max-width: 1260px;
    margin-left: calc(50% - 630px);
    align-content: center;
}
.title{
    color: white;
}

.title:hover{
    color: white;
    font-weight: bold;
}