{% extends 'layout.html.twig' %}

{% block content %}
    {% form_theme form 'themes/RegisterUserTheme.html.twig' %}
    <div class="content container">
        <div class="row">
            <div class="col-lg-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
    <button id="register_user" type="submit" class="col-lg-4 offset-lg-4 btn btn-alt-primary submit">Envoyer</button>

{% endblock %}