{% block form %}
    <div class="block">
        <div class="block-content">
            {{ form_start(form) }}
            <div style="margin-top: 50px" class="form-group row">
                <div class="col-md-9">
                    <div class="form-material floating">
                        {{ form_widget(form.password, {'attr': { 'class':'form-control'}}) }}
                        {{ form_label(form.password) }}
                    </div>
                </div>

            <button id="validate_forgot_user" type="submit" class="col-lg-4 offset-lg-4 btn btn-alt-primary submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}