{% extends 'layout.html.twig' %}

{% block head %}

<img src="{{ asset('images/biglogo.png') }}" class="img-responsive">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="text-xs-center display-4">Les Tricks</h2>

        <div id="Display" class="row" style="margin: 0 10px;">
            <!--/.Panel-->
            {% for trick in tricks %}
                <div class="col-lg-4 col-md-6 col-sm-12" style="margin: 10px 0;">

                   {% for picture in trick.pictures %}
                    <div class="card">
                        <div class="view">
                            <img src="{{ asset('images/Upload/') }}{{ picture.name }}" class="img-fluid" alt="photo">
                        </div>
                        {% endfor %}
                        <!--Panel-->
                        <div class="card card-body">
                            <h4 class="card-title"><a href="#" class="title">{{ trick.name }}</a></h4>
                            <div class="flex-row">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %} <!--after put FULLY-->
                                    <a class="card-link" href="#"><i class="far fa-trash-alt"></i></a>
                                    <a class="card-link" href="#"><i class="fas fa-pencil-alt"></i></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <button id="more" class="btn-primary btn-block">En voir plus</button>

    <script type="text/javascript">
        let section = document.getElementById("Display")
        let child = section.children
        let i;
        let more = document.getElementById("more")

        for (i = 0; i < child.length; i++) {
            if(i > 8) {
                child[i].style.display = 'none'
            }
        }
        more.addEventListener('click', e => {
            e.preventDefault()
            for (i = 0; i < child.length; i++) {
                child[i].style.display = 'block'
            }
            more.style.display = 'none'
        })
    </script>
{% endblock %}

