{% extends 'layoutfail.html.twig' %}

{% block head %}
    <div class="header-tricks">
        <h1 class="title">SnowTricks</h1>
        <p class="text">Ajouter toutes vos tricks !! A vous de jouer</p>
        <i class="fas fa-angle-double-down fa-2x"></i>
<img src="{{ asset('images/biglogo.png') }}" class="img-responsive">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div id="Display" class="row" style="margin: 0 10px;">
            <!--/.Panel-->
            {% for trick in tricks %}
                <div class="col-lg-4 col-md-6 col-sm-12" style="margin: 10px 0;">

                   {% for picture in trick.pictures %}
                    <div class="card">
                        <div class="view">
                            <img src="{{ asset('images/Upload/') }}{{ picture.name }}" class="img-fluid" alt="photo">
                        </div>
                        {% endfor %}
                        <!--Panel-->
                        <div class="card card-body">
                            <h4 class="card-title"><a href="#" class="titlecard">{{ trick.name }}</a></h4>
                            <div class="flex-row">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %} <!--after put FULLY-->
                                    <a class="card-link" href="#"><i class="far fa-trash-alt"></i></a>
                                    <a class="card-link" href="#"><i class="fas fa-pencil-alt"></i></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    <button id="more" class="btn-primary btn-block">En voir plus</button>
    <i class="fas fa-angle-double-up fa-2x"></i>
    </div>
{% endblock %}

